body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;

  &.pending {
    opacity: .5;
    pointer-events: none;
  }
}

h2 {
  margin-top: 6rem;
}

h3 {
  margin-top: 3rem;
}

p {
  margin: auto;
  width: 60%;
  min-width: 300px;
}

form {
  margin: auto;
  width: 60%;
  min-width: 300px;
}

form > div {
  width: 100%;
}

.citation {
  all: unset;
  padding: .75rem 1.5rem;
  max-width: 600px;
  border-radius: 10px;
  transition: .2s;
  
  &:hover {
    cursor: copy;
    box-shadow: 0px 0px 4px 1px #e0e0e0;
  }
}